/*!
 * Star CSS v1.0.0 - Color  (http:site...)
 * Copyright 2020-2021 The Gleisson Neves (Authors)
 * MIT License (https://)
 * Materialize fork color
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
*/

/*> red | lighten | darken | accent */
.black{background-color: var(--black);}
.white{background-color: var(--white);}
.transparent{background-color:var(--transparent)}


/*> red | lighten | darken | accent */
.red{background-color: var(--red);}
.red-l-5{background-color: var(--red-lighten-5);}
.red-l-4{background-color: var(--red-lighten-4);}
.red-l-3{background-color: var(--red-lighten-3);}
.red-l-2{background-color: var(--red-lighten-2);}
.red-l-1{background-color: var(--red-lighten-1);}
.red-d-4{background-color: var(--red-darken-4);}
.red-d-3{background-color: var(--red-darken-3);}
.red-d-2{background-color: var(--red-darken-2);}
.red-d-1{background-color: var(--red-darken-1);}
.red-a-4{background-color: var(--red-accent-4);}
.red-a-3{background-color: var(--red-accent-3);}
.red-a-2{background-color: var(--red-accent-2);}
.red-a-1{background-color: var(--red-accent-1);}


/*> pink | lighten | darken | accent */
.pink{background-color: var(--pink);}
.pink-l-5{background-color: var(--pink-lighten-5);}
.pink-l-4{background-color: var(--pink-lighten-4);}
.pink-l-3{background-color: var(--pink-lighten-3);}
.pink-l-2{background-color: var(--pink-lighten-2);}
.pink-l-1{background-color: var(--pink-lighten-1);}
.pink-d-4{background-color: var(--pink-darken-4);}
.pink-d-3{background-color: var(--pink-darken-3);}
.pink-d-2{background-color: var(--pink-darken-2);}
.pink-d-1{background-color: var(--pink-darken-1);}
.pink-accent-4{background-color: var(--pink-accent-4);}
.pink-accent-3{background-color: var(--pink-accent-3);}
.pink-accent-2{background-color: var(--pink-accent-2);}
.pink-accent-1{background-color: var(--pink-accent-1);}


/*> purple | lighten | darken | accent */
.purple{background-color: var(--purple);}
.purple-l-5{background-color: var(--purple-lighten-5);}
.purple-l-4{background-color: var(--purple-lighten-4);}
.purple-l-3{background-color: var(--purple-lighten-3);}
.purple-l-2{background-color: var(--purple-lighten-2);}
.purple-l-1{background-color: var(--purple-lighten-1);}
.purple-d-4{background-color: var(--purple-darken-4);}
.purple-d-3{background-color: var(--purple-darken-3);}
.purple-d-2{background-color: var(--purple-darken-2);}
.purple-d-1{background-color: var(--purple-darken-1);}
.purple-a-4{background-color: var(--purple-accent-4);}
.purple-a-3{background-color: var(--purple-accent-3);}
.purple-a-2{background-color: var(--purple-accent-2);}
.purple-a-1{background-color: var(--purple-accent-1);}

/*> deep | lighten | darken | accent */
.deep-purple{background-color: var(--deep-purple);}
.deep-purple-l-5{background-color: var(--deep-purple-lighten-5);}
.deep-purple-l-4{background-color: var(--deep-purple-lighten-4);}
.deep-purple-l-3{background-color: var(--deep-purple-lighten-3);}
.deep-purple-l-2{background-color: var(--deep-purple-lighten-2);}
.deep-purple-l-1{background-color: var(--deep-purple-lighten-1);}
.deep-purple-d-4{background-color: var(--deep-purple-darken-4);}
.deep-purple-d-3{background-color: var(--deep-purple-darken-3);}
.deep-purple-d-2{background-color: var(--deep-purple-darken-2);}
.deep-purple-d-1{background-color: var(--deep-purple-darken-1);}
.deep-purple-a-4{background-color: var(--deep-purple-accent-4);}
.deep-purple-a-3{background-color: var(--deep-purple-accent-3);}
.deep-purple-a-2{background-color: var(--deep-purple-accent-2);}
.deep-purple-a-1{background-color: var(--deep-purple-accent-1);}

/*> indigo | lighten | darken | accent */
.indigo{background-color: var(--indigo);}
.indigo-l-5{background-color: var(--indigo-lighten-5);}
.indigo-l-4{background-color: var(--indigo-lighten-4);}
.indigo-l-3{background-color: var(--indigo-lighten-3);}
.indigo-l-2{background-color: var(--indigo-lighten-2);}
.indigo-l-1{background-color: var(--indigo-lighten-1);}
.indigo-d-4{background-color: var(--indigo-darken-4);}
.indigo-d-3{background-color: var(--indigo-darken-3);}
.indigo-d-2{background-color: var(--indigo-darken-2);}
.indigo-d-1{background-color: var(--indigo-darken-1);}
.indigo-a-4{background-color: var(--indigo-accent-4);}
.indigo-a-3{background-color: var(--indigo-accent-3);}
.indigo-a-2{background-color: var(--indigo-accent-2);}
.indigo-a-1{background-color: var(--indigo-accent-1);}

/*> blue | lighten | darken | accent */
.blue{background-color: var(--blue);}
.blue-l-5{background-color: var(--blue-lighten-5);}
.blue-l-4{background-color: var(--blue-lighten-4);}
.blue-l-3{background-color: var(--blue-lighten-3);}
.blue-l-2{background-color: var(--blue-lighten-2);}
.blue-l-1{background-color: var(--blue-lighten-1);}
.blue-d-4{background-color: var(--blue-darken-4);}
.blue-d-3{background-color: var(--blue-darken-3);}
.blue-d-2{background-color: var(--blue-darken-2);}
.blue-d-1{background-color: var(--blue-darken-1);}
.blue-a-4{background-color: var(--blue-accent-4);}
.blue-a-3{background-color: var(--blue-accent-3);}
.blue-a-2{background-color: var(--blue-accent-2);}
.blue-a-1{background-color: var(--blue-accent-1);}

/*> light | lighten | darken | accent */
.light-blue{background-color: var(--light-blue);}
.light-blue-l-5{background-color: var(--light-blue-lighten-5);}
.light-blue-l-4{background-color: var(--light-blue-lighten-4);}
.light-blue-l-3{background-color: var(--light-blue-lighten-3);}
.light-blue-l-2{background-color: var(--light-blue-lighten-2);}
.light-blue-l-1{background-color: var(--light-blue-lighten-1);}
.light-blue-d-4{background-color: var(--light-blue-darken-4);}
.light-blue-d-3{background-color: var(--light-blue-darken-3);}
.light-blue-d-2{background-color: var(--light-blue-darken-2);}
.light-blue-d-1{background-color: var(--light-blue-darken-1);}
.light-blue-a-4{background-color: var(--light-blue-accent-4);}
.light-blue-a-3{background-color: var(--light-blue-accent-3);}
.light-blue-a-2{background-color: var(--light-blue-accent-2);}
.light-blue-a-1{background-color: var(--light-blue-accent-1);}

/*> cyan | lighten | darken | accent */
.cyan{background-color: var(--cyan);}
.cyan-l-5{background-color: var(--cyan-lighten-5);}
.cyan-l-4{background-color: var(--cyan-lighten-4);}
.cyan-l-3{background-color: var(--cyan-lighten-3);}
.cyan-l-2{background-color: var(--cyan-lighten-2);}
.cyan-l-1{background-color: var(--cyan-lighten-1);}
.cyan-d-4{background-color: var(--cyan-darken-4);}
.cyan-d-3{background-color: var(--cyan-darken-3);}
.cyan-d-2{background-color: var(--cyan-darken-2);}
.cyan-d-1{background-color: var(--cyan-darken-1);}
.cyan-a-4{background-color: var(--cyan-accent-4);}
.cyan-a-3{background-color: var(--cyan-accent-3);}
.cyan-a-2{background-color: var(--cyan-accent-2);}
.cyan-a-1{background-color: var(--cyan-accent-1);}

/*> teal | lighten | darken | accent */
.teal{background-color: var(--teal);}
.teal-l-5{background-color: var(--teal-lighten-5);}
.teal-l-4{background-color: var(--teal-lighten-4);}
.teal-l-3{background-color: var(--teal-lighten-3);}
.teal-l-2{background-color: var(--teal-lighten-2);}
.teal-l-1{background-color: var(--teal-lighten-1);}
.teal-d-4{background-color: var(--teal-darken-4);}
.teal-d-3{background-color: var(--teal-darken-3);}
.teal-d-2{background-color: var(--teal-darken-2);}
.teal-d-1{background-color: var(--teal-darken-1);}
.teal-a-4{background-color: var(--teal-accent-4);}
.teal-a-3{background-color: var(--teal-accent-3);}
.teal-a-2{background-color: var(--teal-accent-2);}
.teal-a-1{background-color: var(--teal-accent-1);}

/*> green | lighten | darken | accent */
.green{background-color: var(--green);}
.green-l-5{background-color: var(--green-lighten-5);}
.green-l-4{background-color: var(--green-lighten-4);}
.green-l-3{background-color: var(--green-lighten-3);}
.green-l-2{background-color: var(--green-lighten-2);}
.green-l-1{background-color: var(--green-lighten-1);}
.green-d-4{background-color: var(--green-darken-4);}
.green-d-3{background-color: var(--green-darken-3);}
.green-d-2{background-color: var(--green-darken-2);}
.green-d-1{background-color: var(--green-darken-1);}
.green-a-4{background-color: var(--green-accent-4);}
.green-a-3{background-color: var(--green-accent-3);}
.green-a-2{background-color: var(--green-accent-2);}
.green-a-1{background-color: var(--green-accent-1);}

/*> light | lighten | darken | accent */
.light-green{background-color: var(--light-green);}
.light-green-l-5{background-color: var(--light-green-lighten-5);}
.light-green-l-4{background-color: var(--light-green-lighten-4);}
.light-green-l-3{background-color: var(--light-green-lighten-3);}
.light-green-l-2{background-color: var(--light-green-lighten-2);}
.light-green-l-1{background-color: var(--light-green-lighten-1);}
.light-green-d-4{background-color: var(--light-green-darken-4);}
.light-green-d-3{background-color: var(--light-green-darken-3);}
.light-green-d-2{background-color: var(--light-green-darken-2);}
.light-green-d-1{background-color: var(--light-green-darken-1);}
.light-green-a-4{background-color: var(--light-green-accent-4);}
.light-green-a-3{background-color: var(--light-green-accent-3);}
.light-green-a-2{background-color: var(--light-green-accent-2);}
.light-green-a-1{background-color: var(--light-green-accent-1);}

/*> lime | lighten | darken | accent */
.lime{background-color: var(--lime);}
.lime-l-5{background-color: var(--lime-lighten-5);}
.lime-l-4{background-color: var(--lime-lighten-4);}
.lime-l-3{background-color: var(--lime-lighten-3);}
.lime-l-2{background-color: var(--lime-lighten-2);}
.lime-l-1{background-color: var(--lime-lighten-1);}
.lime-d-4{background-color: var(--lime-darken-4);}
.lime-d-3{background-color: var(--lime-darken-3);}
.lime-d-2{background-color: var(--lime-darken-2);}
.lime-d-1{background-color: var(--lime-darken-1);}
.lime-a-4{background-color: var(--lime-accent-4);}
.lime-a-3{background-color: var(--lime-accent-3);}
.lime-a-2{background-color: var(--lime-accent-2);}
.lime-a-1{background-color: var(--lime-accent-1);}

/*> yellow | lighten | darken | accent */
.yellow{background-color: var(--yellow);}
.yellow-l-5{background-color: var(--yellow-lighten-5);}
.yellow-l-4{background-color: var(--yellow-lighten-4);}
.yellow-l-3{background-color: var(--yellow-lighten-3);}
.yellow-l-2{background-color: var(--yellow-lighten-2);}
.yellow-l-1{background-color: var(--yellow-lighten-1);}
.yellow-d-4{background-color: var(--yellow-darken-4);}
.yellow-d-3{background-color: var(--yellow-darken-3);}
.yellow-d-2{background-color: var(--yellow-darken-2);}
.yellow-d-1{background-color: var(--yellow-darken-1);}
.yellow-a-4{background-color: var(--yellow-accent-4);}
.yellow-a-3{background-color: var(--yellow-accent-3);}
.yellow-a-2{background-color: var(--yellow-accent-2);}
.yellow-a-1{background-color: var(--yellow-accent-1);}

/*> amber | lighten | darken | accent */
.amber{background-color: var(--amber);}
.amber-l-5{background-color: var(--amber-lighten-5);}
.amber-l-4{background-color: var(--amber-lighten-4);}
.amber-l-3{background-color: var(--amber-lighten-3);}
.amber-l-2{background-color: var(--amber-lighten-2);}
.amber-l-1{background-color: var(--amber-lighten-1);}
.amber-d-4{background-color: var(--amber-darken-4);}
.amber-d-3{background-color: var(--amber-darken-3);}
.amber-d-2{background-color: var(--amber-darken-2);}
.amber-d-1{background-color: var(--amber-darken-1);}
.amber-a-4{background-color: var(--amber-accent-4);}
.amber-a-3{background-color: var(--amber-accent-3);}
.amber-a-2{background-color: var(--amber-accent-2);}
.amber-a-1{background-color: var(--amber-accent-1);}

/*> orange | lighten | darken | accent */
.orange{background-color: var(--orange);}
.orange-l-5{background-color: var(--orange-lighten-5);}
.orange-l-4{background-color: var(--orange-lighten-4);}
.orange-l-3{background-color: var(--orange-lighten-3);}
.orange-l-2{background-color: var(--orange-lighten-2);}
.orange-l-1{background-color: var(--orange-lighten-1);}
.orange-d-4{background-color: var(--orange-darken-4);}
.orange-d-3{background-color: var(--orange-darken-3);}
.orange-d-2{background-color: var(--orange-darken-2);}
.orange-d-1{background-color: var(--orange-darken-1);}
.orange-a-4{background-color: var(--orange-accent-4);}
.orange-a-3{background-color: var(--orange-accent-3);}
.orange-a-2{background-color: var(--orange-accent-2);}
.orange-a-1{background-color: var(--orange-accent-1);}

/*> deep | lighten | darken | accent */
.deep-orange{background-color: var(--deep-orange);}
.deep-orange-l-5{background-color: var(--deep-orange-lighten-5);}
.deep-orange-l-4{background-color: var(--deep-orange-lighten-4);}
.deep-orange-l-3{background-color: var(--deep-orange-lighten-3);}
.deep-orange-l-2{background-color: var(--deep-orange-lighten-2);}
.deep-orange-l-1{background-color: var(--deep-orange-lighten-1);}
.deep-orange-d-4{background-color: var(--deep-orange-darken-4);}
.deep-orange-d-3{background-color: var(--deep-orange-darken-3);}
.deep-orange-d-2{background-color: var(--deep-orange-darken-2);}
.deep-orange-d-1{background-color: var(--deep-orange-darken-1);}
.deep-orange-a-4{background-color: var(--deep-orange-accent-4);}
.deep-orange-a-3{background-color: var(--deep-orange-accent-3);}
.deep-orange-a-2{background-color: var(--deep-orange-accent-2);}
.deep-orange-a-1{background-color: var(--deep-orange-accent-1);}

/*> brown | lighten | darken | accent */
.brown{background-color: var(--brown);}
.brown-l-5{background-color: var(--brown-lighten-5);}
.brown-l-4{background-color: var(--brown-lighten-4);}
.brown-l-3{background-color: var(--brown-lighten-3);}
.brown-l-2{background-color: var(--brown-lighten-2);}
.brown-l-1{background-color: var(--brown-lighten-1);}
.brown-d-4{background-color: var(--brown-darken-4);}
.brown-d-3{background-color: var(--brown-darken-3);}
.brown-d-2{background-color: var(--brown-darken-2);}
.brown-d-1{background-color: var(--brown-darken-1);}

/* blue | lighten | darken | accent */
.blue-grey{background-color: var(--blue-grey);}
.blue-grey-l-5{background-color: var(--blue-grey-lighten-5);}
.blue-grey-l-4{background-color: var(--blue-grey-lighten-4);}
.blue-grey-l-3{background-color: var(--blue-grey-lighten-3);}
.blue-grey-l-2{background-color: var(--blue-grey-lighten-2);}
.blue-grey-l-1{background-color: var(--blue-grey-lighten-1);}
.blue-grey-d-4{background-color: var(--blue-grey-darken-4);}
.blue-grey-d-3{background-color: var(--blue-grey-darken-3);}
.blue-grey-d-2{background-color: var(--blue-grey-darken-2);}
.blue-grey-d-1{background-color: var(--blue-grey-darken-1);}

/* grey | lighten | darken | accent */
.grey{background-color: var(--grey);}
.grey-l-5{background-color: var(--grey-lighten-5);}
.grey-l-4{background-color: var(--grey-lighten-4);}
.grey-l-3{background-color: var(--grey-lighten-3);}
.grey-l-2{background-color: var(--grey-lighten-2);}
.grey-l-1{background-color: var(--grey-lighten-1);}
.grey-d-4{background-color: var(--grey-darken-4);}
.grey-d-3{background-color: var(--grey-darken-3);}
.grey-d-2{background-color: var(--grey-darken-2);}
.grey-d-1{background-color: var(--grey-darken-1);}