/*-----------------------------------------------------------------------
/*  Star CSS v1.0.0 - GRID 
/*  Description : Creative Resume fremawork
/*  Version     : v4.0.0
/*  Copyright 2020-2021 The Gleisson Neves (Authors)
/*  Copyright 2011-2018 The Bootstrap Authors
/*  Copyright 2011-2018 Twitter, Inc.
/*  http://opensource.org/licenses/MIT
/*-----------------------------------------------------------------------
/*  Glossary
/*  sm = Small 
/*  md = Medium
/*  lg = Large
/*  xl = Extra large
/*-----------------------------------------------------------------------

1. RESET
2. DEFAULT
3. BREAK
-----------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*  1. RESET
/*---------------------------------------------------------------------*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12, .sm,
.sm-auto, .md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12, .md,
.md-auto, .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12, .lg,
.lg-auto, .xl-1, .xl-2, .xl-3, .xl-4, .xl-5, .xl-6, .xl-7, .xl-8, .xl-9, .xl-10, .xl-11, .xl-12, .xl,
.xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

/*---------------------------------------------------------------------*/
/*  2. DEFAULT
/*---------------------------------------------------------------------*/
.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}


/*---------------------------------------------------------------------*/
/*  3. BREAK
/*---------------------------------------------------------------------*/
@media only screen and (min-width: var(--break-sm)) {
  .sm {
    flex: 1 0 0%;
  }

  .sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }

}

@media only screen and (min-width: var(--break-md)) {
  .md {
    flex: 1 0 0%;
  }

  .md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media only screen and (min-width: var(--break-lg)) {
 .lg {
    flex: 1 0 0%;
  }

  .lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  
  .lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media only screen and (min-width: var(--break-lx)) {
  .lx {
    flex: 1 0 0%;
  }

  .lx-auto {
    flex: 0 0 auto;
    width: auto;
  }
  
  .lx-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .lx-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .lx-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .lx-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .lx-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .lx-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .lx-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .lx-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .lx-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .lx-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .lx-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .lx-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lx-0 {
    margin-left: 0;
  }

  .offset-lx-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lx-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lx-3 {
    margin-left: 25%;
  }

  .offset-lx-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lx-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lx-6 {
    margin-left: 50%;
  }

  .offset-lx-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lx-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lx-9 {
    margin-left: 75%;
  }

  .offset-lx-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lx-11 {
    margin-left: 91.6666666667%;
  }
}
